@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
