@import './shared/fonts';
@import './shared/colors';

// PAGES
@import './index';
@import './portfolios';

// COMPONENTS
@import './header';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
