@import './shared/fonts';

// PAGES
@import './index';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}


.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
